.container {
  border: 1px solid rgb(163, 163, 163);
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}
h1 {
  text-size: 20px;
  color: gray;
}
#list-features {
  color: rgb(176, 176, 176);
  list-style: none;
}
.active,
.active2 {
  text-decoration: none;
  top: -30px;
}
#city-input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(188, 187, 187);
}
#search-button {
  padding: 8px;
  border-radius: 10px;
  margin: 10px 10px 10px;
  background-color: rgb(135, 135, 233);
  border: 1px solid rgb(49, 40, 65);
}
.form-control {
  padding: 10px;
  border-radius: 6px;
}
#temperature {
  font-size: 39px;
}
li::first-letter {
  text-transform: capitalize;
}
